/* @group General styles */
* { margin: 0; padding: 0 }
.clear { clear: both; height: 0; }
h1 { margin: 15px 0; font-size: 22px; font-weight: normal; }
h2 { font-size: 22px; margin: 15px 0; font-weight: normal; }
h3 { font-size: 18px; margin: 10px 0; font-weight: normal; }
h4 { font-size: 16px; margin: 10px 0; font-weight: normal; }
small { font-size: 8px; margin: 10px 0; font-weight: normal; }
hr { height: 1px; border: 0; background: #EEF0F0; color: #EEF0F0; }
p { margin: 15px 0; }
a img { border: none; }
body { font-size: 12px; font-family: "Lucida Grande", Arial, Helvetica, sans-serif; color: #222; background: #C2C8D1; }
.small { font-size: 11px; }
.gray { color: #999; }
.hightlight { background-color: #ffc; }
a:link, a:visited, a:hover, a:active, h1, h2, h3 { color: #007BA7; }
/* @end */
/* @group Sidebar */
#sidebar { width: 25%; float: right; padding-top: 1px; }
#sidebar h3 { padding: 10px 15px; margin: 0; font-size: 13px; background: #007BA7; color: #F7F7F8; border-bottom: 7px solid #005573; }
#sidebar .block { margin-bottom: 20px; padding-bottom: 10px; background: #F7F7F8; }
#sidebar .block .content { padding: 0 15px; }
#sidebar ul.navigation li a:link, #sidebar ul.navigation li a:visited { display: block; padding: 10px 15px; }
#sidebar .block .sidebar-block, #sidebar .notice { padding: 10px; }
#sidebar ul li a:link, #sidebar ul li a:visited { background: #F7F7F8; border-bottom: 1px solid #EEF0F0; text-decoration: none; }
#sidebar ul li a:hover, #sidebar ul li a:active { background: #005573; color: #F7F7F8; }
/* @end */
/* @group Header */
#header, #wrapper { padding: 0 20px; }
#header { background: #007BA7; position: relative; padding-top: 1px; }
#header h1 { margin: 0; padding: 20px 0; font-size: 30px; }
#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited { text-decoration: none; color: #F7F7F8; }
/* @end */
/* @group Main */
#container { min-width: 960px; }
#main { width: 73%; float: left; }
.actions-bar { padding: 10px 1px; }
.actions-bar .actions { float: left; }
.actions-bar .pagination { float: right; padding: 1px 0; }
#wrapper { padding-top: 20px; }
#main .block { margin-bottom: 20px; padding-top: 1px; }
#main .block .content { background: #F7F7F8; padding-top: 1px; }
#main .block .content h2 { margin-left: 15px; }
#main .block .content .inner { padding: 0 15px 15px; }
#main .main p.first { margin-top: 0; }
/* @end */
/* @group Navigation */
#user-navigation { position: absolute; top: auto; bottom: 5px; right: 25px; }
#main-navigation { width: 100%; background-color: #005573; }
#user-navigation ul, #main-navigation ul, .secondary-navigation ul, #sidebar ul.navigation { margin: 0; padding: 0; list-style-type: none; }
#user-navigation ul li, #main-navigation ul li, .secondary-navigation ul li { float: left; }
#main-navigation ul li { margin-right: 5px; padding-left: 0; }
#user-navigation ul li { padding: 5px 10px; color: #F7F7F8; }
#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active,
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active,
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active { text-decoration: none; color: #F7F7F8; }
#main-navigation ul li a.active:link, #main-navigation ul li a.active:visited, #main-navigation ul li a.active:hover, #main-navigation ul li a.active:active { color: #001C26; }
#main-navigation ul li a { font-size: 15px; display: block; padding: 8px 15px; }
#main-navigation ul li a:hover { background-color: #001C26; }
#main-navigation ul li a.active { background-color: #C2C8D1; }
.secondary-navigation { font-size: 13px; background: #007BA7; border-bottom-width: 7px; border-bottom-color: #005573; border-bottom-style: solid; }
.secondary-navigation ul li a { display: block; padding: 10px 15px; }
.secondary-navigation li a:hover { background: #005573; }
.secondary-navigation ul li a.active, .secondary-navigation ul li a.active:hover { background-color: #005573; }
/* @end */
/* @group Footer */
#footer { padding-bottom: 20px; margin-bottom: 25px;}
#footer .block { color: #F7F7F8; background: #005573; }
#footer .block p { margin: 0; padding: 10px; }
/* @end */
/* @group Pagination */
.pagination a, .pagination span { padding: 2px 5px; margin-right: 5px; display: block; float: left; border-style: solid; border-width: 1px; color: #001C26; border-color: #005573; }
.pagination span.current { font-weight: bold; background: #005573; color: #F7F7F8; border-color: #005573; }
.pagination a { text-decoration: none; }
.pagination a:hover { color: #F7F7F8; background: #005573; }
/* @end */
/* @group Tables */
.table { width: 100%; border-collapse: collapse; margin-bottom: 15px; }
.table th { padding: 7px; font-weight: bold; text-align: left; background: #C2C8D1; color: #001C26; }
.table th.first { width: 30px; }
.table th.last { width: 200px; }
.table .checkbox { margin-left: 10px; }
.table td { padding: 7px; border-bottom: 1px solid #EEF0F0; }
.table td.last { text-align: right; }
/* @end */
/* @group Forms */
input.checkbox { margin: 0; padding: 0; }
.form .group { margin-bottom: 15px; }
.form div.left { width: 20%; float: left; }
.form div.right { width: 75%; float: right; }
.form .columns .column { width: 48%; }
.form .columns .left { float: left; }
.form .columns .right { float: right; }
.form label.label, .form input.text_field, .form textarea.text_area { font-size: 1.2em; padding: 1px 0; margin: 0; }
.form label.right { text-align: right; }
.form input.checkbox, .form input.radio { margin-right: 5px; }
.form label.checkbox, .form label.radio { line-height: 1.5em; }
.form label.label { display: block; padding-bottom: 2px; font-weight: bold; }
.form div.fieldWithErrors label.label { display: inline; }
.form .fieldWithErrors .error { color: red; }
.form input.text_field, .form textarea.text_area { width: 100%; border-width: 1px; border-style: solid; border: 1px solid #001C26; }
.form input.button { background: #EEE; color: #001C26; padding: 2px 5px; border: 1px solid #001C26; cursor: pointer; }
.form .description { color: #8C8C8C; font-size: .9em; }
/* @end */
/* @group Flash messages */
.flash { margin-bottom: 15px; }
.flash p { margin: 8px; }
.flash .error, .flash .warning, .flash .notice, .flash .message, .flash .success { -moz-border-radius: 6px; -webkit-border-radius: 6px; text-align: center; margin: 0 auto 15px; }
.flash .error { border: 1px solid #fbb; background-color: #fdd; }
.flash .warning { border: 1px solid #e0d300; background-color: #ffffcc; }
.flash .notice { border: 1px solid #8ec4df; background-color: #dffaff; }
.flash .success { border: 1px solid #8BA609; background-color: #B6DE8E; }
/* @end */
/* @group Lists */
ul.list { margin: 0; padding: 0; list-style-type: none; }
ul.list li { clear: left; padding-bottom: 5px; border-bottom-color: #EEF0F0; border-bottom-width: 1px; border-bottom-style: solid; }
ul.list li .left { float: left; }
ul.list li .left .avatar { width: 50px; height: 50px; }
ul.list li .item { margin-left: 80px; }
ul.list li .item .avatar { float: left; margin: 0 5px 5px 0; width: 30px; height: 30px; border-color: #EEF0F0; border-width: 1px; border-style: solid; padding: 2px; }
/* @end */
/* @group Box */
#box { width: 500px; margin: 50px auto; }
#box .block { margin-bottom: 20px; background: #F7F7F8; }
#box .block h2 { padding: 10px 15px; margin: 0; background: #005573; color: #F7F7F8; }
#box .block .content { padding: 10px 20px; }
/* @end */
/* @group Rounded Borders */
#main, #main-navigation, #main-navigation li, #main-navigation li a, .secondary-navigation, #main .block, #sidebar .block, #sidebar h3, ul.list li,
#footer .block, .form input.button, #box .block, #box .block h2 { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.secondary-navigation li.first a, .secondary-navigation ul li.first, .table th.first, .table th.first { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
.table th.last { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.secondary-navigation ul li.first { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
#sidebar, #sidebar .block, #main .block, #sidebar ul.navigation, ul.list li, #footer .block, .form input.button, #box .block { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.user-table-header { background-color: #005573; font-weight: bold; color: #CCCCCC; }
tr.light td { background-color: #F2F2F2; }
tr.dark td { background-color: #E3E3E3; }
/* @end */
h2.title { font-size: 12pt; }
.underline { text-decoration: underline; }
.inner h3 { font-size: 11pt; }

dl.list { margin-top: 10px; margin-bottom: 10px; }
dl.list dt { position: relative; float: left; font-weight: bold; line-height: 1.8em; }
dl.list dd { position: relative; line-height: 1.8em; }

dl.home-page dd { margin-left: 110px; }

dl.admin-int-rate { font-size: 11px; }
dl.admin-int-rate dd { margin-left: 140px; }

dl.client-login-info dd { margin-left: 80px; }

dl.client-info { font-size: 13px; }
dl.client-info dd { margin-left: 130px; }

dl.client-fraud-details dd { margin-left: 140px; }

dl.client-add-cnf-account { font-size: 11px; }
dl.client-add-cnf-account dd {margin-left: 140px; }

dl.edit-client-form { font-size: 11px; line-height: 1.8em; }
dl.edit-client-form dd { margin-left: 140px; line-height: 1.8em; }

dl.change-credit-card-num-form { font-size: 11px; line-height: 1.8em; }
dl.change-credit-card-num-form dd { margin-left: 100px; line-height: 1.8em; }

dl.applicable-taxes { font-size: 11px; padding-left: 20px; }
dl.applicable-taxes dd { margin-left: 20px; font-weight: bold; }

dl.edit-package-form { font-size: 11px; }
dl.edit-package-form dd { margin-left: 140px; }

dl.package-list { line-height: 2em; }
dl.package-list dd { margin-left: 130px; }

dl.package-status-list { }
dl.package-status-list dd { margin-left: 70px; }
dl.package-status-form dd { margin-left: 70px; }

dl.recurring-option-form dd { margin-left: 80px; }
dl.recurring-option-list dd { margin-left: 120px; }

dl.user-status-form dd { margin-left: 75px; }
dl.user-status-list dd { margin-left: 75px; }

tr.cancelled td { background-color: #ffdddd !important; }
tr.in-use td { background-color: #ffffcc !important; }
tr.pending { background-color: #dffaff !important; }

.secondary-navigation-popup { font-size: 13px; background: #fefefe; border-bottom-width: 3px; border-bottom-color: #005573; border-bottom-style: solid; padding: 1px 20px 20px 20px; }

#cdr_usage_report { font-size: 8pt; }
#cdr_usage_report .usage { margin-top: 10px; padding-top: 10px; border-top: 1px solid #666; }
#cdr_usage_report .usage dt { position: relative; float: left; font-weight: bold; }
#cdr_usage_report .usage dd { position: relative; margin: 0 0 0 110px; }

dl.package-details { }
dl.package-details dt { position: relative; float: left; font-weight: bold; }
dl.package-details dd { position: relative; margin: 0 0 0 12em; }


/*#flash {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#flash .notice {
  padding: 20px;
  width: 95%;
  margin: auto;
  background-color: #005573;
  filter:alpha(opacity=280);
  -moz-opacity:0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
  color: #fff;
  -moz-border-radius:20px 20px 0 0;
  -webkit-border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  text-align:center;
  border:none;
}

#flash .closable { cursor: pointer; }
*/

.signup-checklist ul { list-style-type: none; }
.signup-checklist ul li { padding: 10px 0 10px 0; }

#client-hardware-profile {}
#client-hardware-profile .body { font-size: 8pt; padding: 10px; }
#client-hardware-profile .body a { display: inline!important; float: none; background-color: none; padding: 0!important; text-decoration: underline!important;}
#client-hardware-profile .body a:hover { background: none!important; color: #1F78A9!important;}
#client-hardware-profile .row { margin: 0 0 8px 0; }
#client-hardware-profile .row .key { font-weight: bold; }
#client-hardware-profile .row .val {}

#add-hardware-profile { font-size: 8pt; }

.table .button-to {margin: 0; padding: 0; float: none;}
.table .button-to,
.table .button-to div,
#client-hardware-profile .button-to, #client-hardware-profile .button-to div {display: inline!important;}

#client-hardware-profile fieldset { border: 0; border-top: 1px solid #CECECE; padding: 15px 0 15px 0;}
#client-hardware-profile fieldset legend { font-weight: bold; margin-left: 15px; padding: 0 5px 0 5px;}

.positive-balance {color: #8BA609;}
.negative-balance {color: #c00;}

div.round-white { background-color: #fff; padding: 0 10px 10px 10px; margin: 0 10px 10px 10px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
div.left  { float: left; width: 50%;}
div.right { float: right; width: 50%;}

form .package-details {
	font-size: 8pt;
	line-height: 2;
}

.minibutton {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	height: 22px;
	line-height: 22px;
/*	padding: 4px;*/
	vertical-align: center;
	display: inline-block;
	text-decoration: none;
	font-size: 7pt;
	font-weight: bolder;
}
.minibutton:link,
.minibutton:visited,
.minibutton:hover,
.minibutton:active {
}

.minibutton:link,
.minibutton:visited
{
	color: #333;
	background: #e3e3e3;
	border: 1px solid #c2c8d1;
	text-shadow:1px 1px 0 #fff;
}

.minibutton:hover,
.minibutton:active
{
	color: #fff;
	background-color: #007ba7;
	border: 1px solid #005573;
	text-shadow:1px 1px 0 #333;
}
.minibutton >span {
	display: block;
	padding: 0 5px 0 0;
}
.minibutton .icon  {
	float: left;
	width: 24px;
	height: 22px;
	line-height: 22px;
}
.minibutton .icon.activate {
	background: url(../images/icons/phone_add.png) no-repeat center center;
}
.minibutton .icon.suspend {
	background: url(../images/icons/phone_delete.png) no-repeat center center;
}
.minibutton .icon.edit {
	background: url(../images/icons/pencil.png) no-repeat center center;
}
.minibutton .icon.delete {
	background: url(../images/icons/delete.png) no-repeat center center;
}
.minibutton.danger:hover {
	color: #533;
	background-color:#e47871;
	border: 1px solid #be5238;
	text-shadow: 1px 1px 0 #ef867e;
}
/*button.minibutton::-moz-focus-inner{margin:-1px -3px;}*/