/* CSS Document */

/*************************************************   RESET   *************************************************/
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size: 1em; font-weight: normal; font-style: normal;}
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }

/* IE PNG FIX
* {behavior: url(iepngfix.htc)}*/

/*************************************************   TEXT   *************************************************/
a{color:#007ac0; text-decoration:none; cursor:pointer}
a:hover{text-decoration:underline;}
h1{font-size:30px}
h2{font-size:22px; margin-bottom:20px}
h3{font-size:14px; margin-bottom:10px; font-weight:bold}
h4{font-weight:bold;}
p{margin-bottom:20px}
sup{color:#666; font-weight:normal; font-size:10px}
ul{margin-bottom:20px; list-style:disc outside; margin-left:15px}
ol{margin-bottom:20px; list-style:decimal outside; margin-left:20px;}
h2 a{border-bottom:1px dotted #ccc; color:#333;}
h2 a:hover {border-bottom:1px solid #999; text-decoration:none}

/*************************************************   LAYOUT   *************************************************/
html, body {font: 12px/18px "Lucida Grande", Geneva, Arial, Verdana, sans-serif; color:#333; background:#f5f6f7}
#account{background:#0078bf; height:100px; color:#8ac1e2;}
#main{background:url(../images/order/bg_main.jpg) repeat-x; position:relative}
#main-home{background:url(../images/order/bg_main_home.jpg) repeat-x; position:relative}
#container{width:1002px; margin:0 auto;}
#header{height:101px; padding:0 30px;}
#content-head{height:129px; background:url(../images/order/callout_section.jpg) no-repeat; position:relative; padding:0 30px}
#content-head-home{height:302px; background:url(../images/order/callout_home.jpg) no-repeat; position:relative; padding:0 30px}
.content-top{background:url(../images/order/content_top.png) no-repeat top; height:26px;}
.content-main{background:url(../images/order/content_main.png) repeat-y; padding:20px 15px 0px 15px}
.content-bottom{background:url(../images/order/content_bottom.png) no-repeat top; height:6px; margin-bottom:20px;}
#footer{color:#999; font-size:11px; margin-bottom:20px; font-family:Arial, Verdana, sans-serif;}
.wrap{width:942px; margin:0 auto;}
.clear{height:1px; clear:both; font-size:1px; line-height:1px;}

.column1{width:51px; margin:0 15px 10px; display:inline; float:left;}
.column2{width:132px; margin:0 15px 10px; display:inline; float:left;}
.column3{width:213px; margin:0 15px 10px; display:inline; float:left;}
.column4{width:294px; margin:0 15px 10px; display:inline; float:left;}
.column5{width:375px; margin:0 15px 10px; display:inline; float:left;}
.column6{width:456px; margin:0 15px 10px; display:inline; float:left;}
.column7{width:537px; margin:0 15px 10px; display:inline; float:left;}
.column8{width:618px; margin:0 15px 10px; display:inline; float:left;}
.column9{width:699px; margin:0 15px 10px; display:inline; float:left;}
.column10{width:780px; margin:0 15px 10px; display:inline; float:left;}
.column11{width:861px; margin:0 15px 10px; display:inline; float:left;}
.column12{width:942px; margin:0 15px 10px; display:inline; float:left;}


/*************************************************   HEADER  *************************************************/
#account{display:none;}
#account a{color:#fff;}
#account-login{margin:20px 0 10px 0; color:#fff}
#account-login label{font-weight:bold;}
#account-login .textfield{width:200px; margin-right:5px; padding:5px 2px; border:solid #005990; border-width:2px 0 0 2px}
.right{float:right; text-align:right}

#logo{width:152px; height:74px; text-indent:-2000px; float:left;}
#logo a{display:block; background:url(../images/order/viatalk_home.jpg) no-repeat 0 0; height:74px}
#logo a:hover{text-decoration:none}
#logo a.active{display:block; background:url(../images/order/viatalk_home.jpg) no-repeat 0 -74px; height:74px}

#nav-top{height:27px; line-height:27px; list-style:none; display:block; margin:0;}
#nav-top li{float:right; padding-left:0px; font-weight:bold; font-size:11px}
#my-account{text-indent:-3000px}
#my-account a{width:154px; height:24px; background:url(../images/order/button_account.jpg) no-repeat 0 0; display:block; overflow:hidden;}
#my-account a:hover{background:url(../images/order/button_account.jpg) no-repeat 0 -24px;}
#ticket-click a{background:url(../images/order/icon_ticket_sm.gif) no-repeat 0 5px; padding-left:20px; line-height:27px; display:block; margin-right:5px}
#live-support span{background:url(../images/order/icon_phone_sm.gif) no-repeat 0 4px; padding-left:15px; line-height:27px; display:block; margin-right:15px}

/*************************************************   Main Navigation  *************************************************/
.nav, .nav ul {list-style:none; margin:0; padding:0;}
.nav {z-index:100; position:relative; height:40px; float:right; top:34px;}
.nav li {float:left; margin-left:10px; padding:0; position:relative; font-weight:bold; font-size:14px}
.nav li a{color:#333; height:40px; display:block; padding: 0 10px;}
.nav li a:hover {text-decoration:none; color:#007ac0;}
.nav li.active a#residential{background:url(../images/order/nav_active_residential.jpg) no-repeat bottom center}
.nav li.active a#business{background:url(../images/order/nav_active_business.jpg) no-repeat bottom center}
.nav li.active a#features{background:url(../images/order/nav_active_features.jpg) no-repeat bottom center}
.nav li.active a#rates{background:url(../images/order/nav_active_intrates.jpg) no-repeat bottom center}
.nav li.active a#support{background:url(../images/order/nav_active_support.jpg) no-repeat bottom center}
.nav li.active a#signup{background:url(../images/order/nav_active_signup.jpg) no-repeat bottom center}
#nav-one li:hover a, #nav-one li.sfHover a {color:#007ac0;}
#nav-one li:hover ul a, #nav-one li.sfHover ul a {color:#333;}
.nav ul {background:url(../images/order/nav_dropdown.jpg) no-repeat #fff; list-style:none; margin:0; width:212px; position:absolute; top:-999em; left:-1px; padding-top:8px; z-index:101}
.nav .active ul {/*background:url(../images/order/nav_dropdown_active.png) no-repeat #fff;*/ list-style:none; margin:0; width:212px; position:absolute; top:-999em; left:-1px; padding-top:8px;}
.nav li:hover ul, .nav li.sfHover ul {top: 31px;}
.nav ul li {border:0; float:none; margin:0; font-size:12px}
.nav ul a, .nav .active ul a {background:url(../images/order/nav_dropdown_border.png) repeat-x bottom; white-space:nowrap; height:35px; line-height:35px; margin:0}
.nav ul a:hover, .nav ul li.end a:hover {background-color:#c5cdd7; color:#000;}



/*************************************************   CONTENT   *************************************************/
.float-right{float:right}
.float-left{float:left}
.orange{color:#e77200;}
.mainbar{width:690px; margin:0 10px 10px; display: inline; float:left; padding-right:10px}
.sidebar{background:url(../images/order/sidebar_mid.png) repeat-y; padding:15px 20px; color:#666}
.sidebar p{margin:0}
.border{border-bottom:1px solid #e2eaef;}
#sidebar-top{background:url(../images/order/sidebar_top.png) no-repeat;}
#sidebar-bot{background:url(../images/order/sidebar_bot.png) no-repeat bottom;}
.sidebar h3{color:#2e4c5c}
#section{height:129px; text-indent:-2000px}
#section h1.residential{background:url(../images/order/heading_residential.png) no-repeat; height:127px;}
#section h1.business{background:url(../images/order/heading_business.png) no-repeat; height:127px;}
#section h1.features{background:url(../images/order/heading_features.png) no-repeat; height:127px;}
#section h1.international{background:url(../images/order/heading_international.png) no-repeat; height:127px;}
#section h1.support{background:url(../images/order/heading_support.png) no-repeat; height:127px;}
#section h1.signup{background:url(../images/order/heading_signup.png) no-repeat; height:127px;}
#section h1.setup{background:url(../images/order/heading_setup.png) no-repeat; height:127px;}
#section h1.affiliates{background:url(../images/order/heading_affiliates.png) no-repeat; height:127px;}
#section h1.products{background:url(../images/order/heading_products.png) no-repeat; height:127px;}
#section h1.sitemap{background:url(../images/order/heading_sitemap.png) no-repeat; height:127px;}
#section h1.corporate{background:url(../images/order/heading_corporate.png) no-repeat; height:127px;}
#section h1.phoneservice{background:url(../images/order/heading_phoneservice.png) no-repeat; height:127px;}

.order-unlimited{float:right; background:url(../images/order/freeyear_sale.png) no-repeat; height:127px; width:308px; display:block;}
.affiliate-login{float:right; background:url(../images/order/affiliate_login.png) no-repeat; height:127px; width:308px; display:block;}

#livechat{background:url(../images/order/bg_livechat.png) no-repeat top right;}
#review{background:url(../images/order/bg_review.png) no-repeat bottom right;}
#pricing-res{background:url(../images/order/bg_pricing_all.png) no-repeat bottom right; color:#666}
#pricing-500{background:url(../images/order/bg_pricing_500.png) no-repeat bottom right; color:#666}
#pricing-unlimited{background:url(../images/order/bg_pricing_unlimited.png) no-repeat bottom right; color:#666}
.pricing{margin-bottom:30px}
.pricing td, .pricing th{height:40px; text-align:center; vertical-align:middle; border:1px solid #becdd5; font-weight:bold; background:url(../images/order/border_highlight.png) repeat-x 0 0;}
.pricing th{font-size:14px; color:#333}
.pricing td img{vertical-align:middle}
.pricing .blank{background-color:#fff; border:none;}
.feature-list{margin:0;}
.feature-list li{float:left; width:213px; height:55px; list-style:none; margin:0 20px 20px 0; overflow:hidden;}
.feature-list p{margin:0}
.feature-list h3{font-size:12px; margin:0; font-weight:bold}

#intrates{border:solid #bec9d5; border-width:1px 1px 0 1px; margin-bottom:36px}
#intrates td, #intrates th{height:30px; vertical-align:middle; padding-left:10px; border-bottom:1px solid #bec9d5;}
#intrates th{color:#FFF; font-weight:bold; background:url(../images/order/bg_th.png) repeat-x; height:40px}
#intrates .alt{background-color:#f1f1f1}
#intrates .alt2{background-color:#e9f0f9}
#intrate-sort{float:right; display:block;}
#intrate-search{margin-bottom:20px; padding:10px; background:url(../images/order/intrates_search.png) no-repeat; height:58px; font-family:Arial, Verdana, sans-serif;}
#intrate-search form{float:left;}
#intrate-search .textfield{margin-right:5px; padding:5px 2px; border-top:1px solid #ccc; border-left:1px solid #ccc; border-bottom:none; border-right:none; background:#fff; width:200px}
#intrate-search label, #intrate-search .label{margin-bottom:5px; display:block}
#intrate-search #sort-links{line-height:30px}
#intrate-search .showall{padding:0 10px; border:solid #ccc; border-width:0 1px; background:none; line-height:30px; margin:0 10px; color:#007ac0; font-family:"Lucida Grande", Geneva, Arial, Verdana, sans-serif;}
#intrate-search .showall:hover{color:#e77200; cursor:pointer}
#intrate-search a:hover{color:#e77200; text-decoration:none}
#affiliate-payout{margin:0 10px; padding-top:10px}
#affiliate-payout li{display:inline; width:193px; margin:0 20px 20px 0; float:left}
#affiliate-payout li img{margin-right:8px; float:left; margin-top:-12px}
.highlight{background:#f1f1f1; padding:10px; text-align:center}
#affiliate-join{background:url(../images/order/bg_join.png) no-repeat; margin-bottom:30px; text-align:center; height:45px; padding-top:15px}

.twolines{font-size:12px; font-family:tahoma; color:#555; text-align:left}
.twolines td, .twolines th{width:25%; padding:10px; border:solid #ccc; height:70px}
.twolines td{border-width:1px 0;}
.twolines th{border:none; font-weight:bold}
.twolines tr.blue{background-color:#f2f7fc}
.twolines tr.orange{background-color:#fff9f3; color:#333;}
.twolines td.incoming{background:url(../images/order/arrow_incoming.gif) no-repeat 10px 0}
.twolines td.outgoing{background:url(../images/order/arrow_outgoing.gif) no-repeat 0px 0}
#datacenter{padding:2px; border:1px solid #ccc; margin:0 20px 20px 0; float:left; background:#f1f1f1}
ul.none{list-style:none; margin:0; padding:0}
.pmargin{margin-bottom:20px}
.signature{font-size:11px; line-height:normal}
.signature b{display:block; font-weight:bold}
.date{background:url(../images/order/icon_time.png) no-repeat 0 0; padding-left:14px; font-size:10px; font-weight:bold; line-height:10px; margin-bottom:10px}

/*************************************************   HOMEPAGE   *************************************************/
#main-sale{height:229px; background:url(../images/order/freeyear_special.gif) no-repeat; text-indent:-2000px;}
#sale-price{position:relative; top:-100px; left:290px; width:156px}
#sale-actions{position:relative; top:-100px; padding:16px 0; width:50%}
.button-saleschat{margin-right:30px;}
.feature-list-home{margin:0}
.feature-list-home li{width:213px; float:left; margin-bottom:20px; list-style:none}
.feature-icon{float:left; text-align:center; width:45px; margin-right:10px}
.comment-vt, .comment-guest{background:url(../images/order/comment_bot.png) no-repeat bottom; margin-bottom:4px}
.comment-vt p, .comment-guest p{background:url(../images/order/comment_top.png) no-repeat; padding:16px 10px 10px; margin-bottom:0}
.comment-vt b{color:#007ac0}
.comment-guest b{color:#e77200}
#blue-top{background:url(../images/order/blue_top.png) no-repeat; padding-top:20px}
#blue-top .column4{width:284px;}
#blue-top .float-left{margin-right:15px}
#blue-top p{margin-bottom:10px}
#blue-bot{background:url(../images/order/blue_bot.png) no-repeat bottom; height:10px; clear:both; display:block; margin:0; padding:0}


/*************************************************   FOOTER   *************************************************/
#footnote{list-style:decimal; color:#999; font-size:11px; list-style-position:inside; line-height:normal; margin-bottom:20px}
.nav-footer{border-bottom:1px solid #ddd; padding-bottom:10px; margin-bottom:10px;}
#footer a{color:#999;}
#footer a:hover{color:#007ac0; text-decoration:none}
.twitter, .hostrocket{float:right;}
.twitter{background:url(../images/order/twitter.png) no-repeat center right; padding-right:100px; line-height:26px; margin-top:-5px;}


/*************************************************   ORDER FORM   *************************************************/
#orderform fieldset, div#service{border:1px solid #ccc; padding:20px 20px 20px 40px; margin-bottom:20px; background:url(../images/order/bg_fieldset.png) repeat-x;}
#orderform fieldset h2, div#service h2{margin-left:-25px}
#orderform .form-row{margin-bottom:10px; clear:both;}
#orderform label{float:left; margin-right:10px; line-height:27px; text-align:right; width:130px; font-weight:bold}
#orderform label.none{float:none; margin-right:10px; line-height:27px; text-align:left; font-weight:bold}
#orderform input, #orderform textarea, #orderform select{margin-right:5px;}
#orderform select{padding-top:0}
#orderform .textfield{width:208px; font-size:12px; line-height:1; padding:3px;}
#orderform .selectfield{width:160px;}
#orderform #order-plan th{width:25%; color:#fff; border:1px solid #4783c5; font-weight:bold; padding:5px 10px; background:url(../images/order/bg_th.png) repeat-x;}
#orderform #order-plan td table{border:solid #ccc; border-width:0 1px;}
#orderform #order-plan td table td{border-bottom:1px solid #ccc;}
#orderform td table td.plan-select{width:1%; padding:7px 0 4px 10px; vertical-align:top}
#orderform td table td.plan-price{padding:4px 10px 4px 0}
#orderform td table td .term{font-size:10px; color:#666;}
#orderform .order-note{font-size:11px; color:#666;line-height: 26px;}


#cp-login fieldset{border:1px solid #ccc; padding:20px 20px 20px 40px; margin-bottom:20px; background:url(../images/order/bg_fieldset.png) repeat-x;}
#cp-login .form-row{margin-bottom:10px; clear:both;}
#cp-login .submit-row{margin-bottom:10px; margin-left:80px; clear:both;}
#cp-login label{float:left; margin-right:10px; line-height:27px; text-align:left; width:70px; font-weight:bold}
#cp-login .textfield{width:208px; font-size:12px; line-height:1; padding:3px;}


.gotfax-trial{width:570px; height:400px; background:url(../images/viatalk/gotfax_trial.png) no-repeat; margin-top:20px; border:10px solid #0077bf; background-color:#fff; overflow:auto; text-align:center;}
.gotfax-trial .buttons{margin-top:345px;}
.gotfax-trial .yes{margin-right:70px;}
.black_overlay{display:none; position:fixed; top:0%; left:0%; width:100%; height:100%; background-color:#000; z-index:1001; -moz-opacity:0.8; opacity:.80; filter:alpha(opacity=80);}
.popup-box {display:none; position:fixed; top:0%; left:0%; width:100%; height:100%; z-index:1002; overflow:auto;}

#inline-tos {display: none; position:fixed; top:0%; left:0%; width:100%; height:100%; z-index:1004;}
#inline-tos .inner {position: relative;background-color:#fff; border: 2px solid #ccc; width: 550px; height: 400px; z-index: 1005; -moz-opacity:1; opacity:1; filter:alpha(opacity=100);margin: 30px auto; padding: 0 0 15px 0;}
#inline-tos .inner .scroll {overflow:auto; width: 535px; height: 380px; padding: 10px 5px 0 10px;}
#inline-tos .buttons {width:540px;text-align:right; padding: 3px 10px 3px -10px;}