# Site settings
title: priddle.net
description: Josh Priddle
port: 4001

author:
  name: Josh Priddle
  email: jpriddle@me.com
  linkedin: itspriddle
  github: itspriddle
  location: NY, USA
  blog: https://josh.fail

# Plugin settings
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  syntax_highlighter: rouge

timezone: 'America/New_York'

# Files to exclude
exclude:
  - .tags
  - CNAME
  - Gemfile
  - Gemfile.lock
  - README.md
  - bin
  - vendor
  - _prototype
  - _repos
  - _static-demos

include:
  - _pages

# Gems
plugins:
  - jekyll-sitemap
  - jekyll-github-metadata
  - jekyll-lucide
  - jekyll-paginate-v2
  - jekyll-tailwind

# Tailwind configuration
tailwind:
  input: "assets/css/app.css"
  output: "_site/assets/css/app.css"
  minify: true

# Collections
collections:
  projects:
    output: true

# Lucide icons
lucide:
  defaults:
    class: "lucide-icon"


# Default values
defaults:
  -
    scope:
      path: "_projects/*"
      type: "projects"
    values:
      layout: "project"
      permalink: /work/:name/
  -
    scope:
      path: "_projects/oss/*"
      type: "projects"
    values:
      layout: "project"
      permalink: /oss/:name/
