/* CSS Document */

/*************************************************   RESET   *************************************************/
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input {margin:0; padding:0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em; font-weight:normal; font-style:normal;}
ul,ol {list-style:none; }
fieldset,img {border:none; }
caption,th {text-align:left; }
table {border-collapse:collapse; border-spacing:0;}

/*************************************************   LAYOUT   *************************************************/
html, body {font:12px/18px "Lucida Grande", Geneva, Arial, Verdana, sans-serif; color:#d1e1e9;}
#main{}
#success{background:url(../images/santa_line_bg3.jpg) no-repeat top center;}
#container{width:976px; margin:0 auto 30px auto; height:731px; position:relative; background:url(../images/santa_line_bg4.jpg) no-repeat top center;}
#container2{width:976px; margin:0 auto 30px auto; position:relative; height:600px; background:url(../images/santa_line_bg3.jpg) no-repeat top center;}
#container3{width:976px; margin:0 auto 30px auto; height:731px; position:relative; background:url(../images/santa_line_bg5.jpg) no-repeat top center;}

#header{}
#content{width:860px; position:absolute; top:52px; left:64px; height:610px;}
#container2 #content{top:90px; left:122px; width:754px; text-align:center;}
#footer{position:absolute; bottom:0px; color:#999; width:100%; height:60px}
.clear{height:1px; clear:both; font-size:1px; line-height:1px}

#call-santa{width:455px; float:left; padding:0 30px;}
#scroll{width:250px; float:right; margin-top:78px; padding:0 16px; color:#5d3b00; height:460px; position:relative; margin-right:8px}
#nice-p{margin-bottom:4px; font-size:11px; text-align:center}
#nice-list li{height:21px; background:url(../images/list_line.png) no-repeat top center; padding:3px 0}
#nice-list .play{width:55px; float:left; background:red}
#nice-list .location{width:105px; float:left; background:blue}
#nice-list .score{width:55px; float:left; background:green}

#nice-table{width:250px; background:url(../images/list_line.png) no-repeat bottom center; margin-bottom:4px}
#nice-table tr{background:url(../images/list_line.png) no-repeat top center;}
#nice-table td{height:21px; vertical-align:middle; line-height:21px; padding:7px 0}
#nice-table .play{width:60px;}
#nice-table .location{width:110px; overflow:hidden}
#nice-table .vote{text-align:right; width:12px; padding-right:2px}
#nice-table .thumb{width:18px; padding-left:2px}
#nice-table .rating{text-align:right; font-weight:bold}

#nice-table .play-button{width:55px; height:18px; overflow:hidden; text-indent:-9999px; background:url(../images/button_play.png) no-repeat 0 0; line-height:18px; display:block;}
#nice-table .play-button:hover{background:url(../images/button_play.png) no-repeat 0 -18px;}

#nice-table .thumb-button{width:18px; height:21px; overflow:hidden; text-indent:-9999px; background:url(../images/button_thumb.png) no-repeat 0 0; line-height:21px; display:block;}
#nice-table .thumb-button:hover{background:url(../images/button_thumb.png) no-repeat 0 -21px;}

#voicemail-table{margin-bottom:10px}
#voicemail-table td{height:30px; vertical-align:middle; line-height:30px; padding:0}
#voicemail-table .vote{text-align:right; width:12px; padding-right:2px;}
#voicemail-table .thumb{width:18px; padding:0 4px 0 2px}
#voicemail-table .rating{text-align:right; font-weight:bold}
#voicemail-table .thumb-button{width:18px; height:21px; overflow:hidden; text-indent:-9999px; background:url(../images/button_thumb2.png) no-repeat 0 0; line-height:21px; display:block;}
#voicemail-table .thumb-button:hover{background:url(../images/button_thumb2.png) no-repeat 0 -21px;}

#voicemail-player{}
#voicemail-box{height:110px}

/*************************************************   DEFUALTS   *************************************************/
h1{height:95px; text-indent:-9999px; overflow:hidden; margin-bottom:10px; height:70px}
#container3 h1{text-indent:-9999px; overflow:hidden; margin-bottom:10px; height:60px}

a{text-decoration:none; cursor:pointer; color:#a80000}
a:hover{text-decoration:underline;}
p{margin-bottom:20px; font-size:12px; line-height:20px}
ul{margin-bottom:20px; list-style:disc inside;}
ol{margin-bottom:20px; list-style:decimal inside;}
form div.row{height:43px; margin-bottom:10px;}
form label{width:125px; text-align:right; float:left; line-height:40px; height:40px; margin-right:20px; font-weight:bold; font-size:14px;}
form label#phone-label{line-height:20px;}
form #phone-label span{font-size:11px; color:#7eabc3;}
form .textfield{padding:10px 3px; background:#046c96; border:2px solid #639ab5; width:299px; color:#fff}
form .textfield:focus{border-color:#92b8cc;}
.button-call{width:172px; height:43px; background:url(../images/button_call.png) no-repeat; float:right; border:none; text-indent:-9999px; overflow:hidden; cursor:pointer}
.button-call2{width:172px; height:43px; background:url(../images/button_call.png) no-repeat; display:block; border:none; text-indent:-9999px; overflow:hidden; cursor:pointer}
.button-call:hover, .button-call2:hover{background:url(../images/button_call.png) no-repeat 0 -43px;}
.logo{float:right; width:200px; height:60px; top:0; right:0; overflow:hidden; text-indent:-9999px;}
#share{margin:20px 0 0 20px;}
.privacy{color:#007ac0; margin-left:20px; line-height:17px; height:17px;}
.footnote{margin:5px 0 0 20px}
.footnote a{color:#007ac0}
.error{height:12px; color:red; padding-left:145px; margin-bottom:10px}
.none{display:none}
.shared{position:absolute; bottom:0px; left:90px; height:17px;}

#nice-table .stop-button{:width: 55px; height:18px; overflow:hidden; text-indent: -9999px; background:url(../images/button_play.png) no-repeat 0 -36px; line-height: 18px; display:block;}
#nice-table .stop-button:hover{background:url(../images/button_play.png) no-repeat 0 -54px;}

#facebook-button { width: 200px; float:left }
#twitter-button { width: 120px; float:left }