.button_get-started {margin-right:auto;margin-left:auto;width:168px;margin-top:10px;text-align:right;height:22px;margin-bottom:10px;}
#center .header_blank {background-image:url(../images/styles/headers/header_blank.gif);height:26px;width:600px;}
#center .header_featured-item {background-image:url(../images/styles/headers/header_featured.gif);height:26px;width:600px;}
#center .header_item-listing {background-image:url(../images/styles/headers/header_item-listing.gif);height:26px;width:600px;}
#center .header_find-it {background-image:url(../images/styles/headers/header_find-it.gif);height:26px;width:540px;}
#center .header_sell-it {background-image:url(../images/styles/headers/header_sell-it.gif);height:26px;width:540px;}
#center .header_select-package {background-image:url(../images/styles/headers/header_select-package.gif);height:26px;}
#center .header_find-it-by-text {background-image:url(../images/styles/headers/header_find-it-by-text-code.gif);height:26px;width:600px;}
#center .header_or-find-it-by-category {background-image:url(../images/styles/headers/header_or-find-it-by-category.gif);height:26px;width:600px;}
#center .header_existing-members-log-in {background-image:url(../images/styles/headers/header_existing-members-log-in.gif);height:26px;width:600px;}
#center .header_or-select-a-category {background-image:url(../images/styles/headers/header_or-select-a-category.gif);height:26px;width:600px;}
#center .header_find-it-results {background-image:url(../images/styles/headers/header_find-it-results.gif);height:26px;width:600px;}
#center .header_featured {background-image:url(../images/styles/headers/featured_round-top.gif);background-repeat:no-repeat;height:20px;}
#center .photo {margin:1px;border:1px solid #000000;}
.featured-item {background-color:#FFFFFF;background-image:url(../images/styles/backgrounds/content-box-featured-item.gif);background-repeat:repeat-y;background-position:top;height:100px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#333333;clear:both;padding-right:10px;padding-left:10px;}
.featured-item-02 {height:100px;clear:both;padding-right:10px;padding-left:10px;}
.wrapper-find-it-results .tag-container {padding-top:10px;padding-left:10px;text-decoration:underline;clear:both;height:30px;}
#photo {padding:1px;border:1px solid #333333;}
.featured-item  a {font-size:10px;font-family:Arial, Helvetica, sans-serif;}
.small {font-family:Arial, Helvetica, sans-serif !important;font-size:7pt !important;}
.small a {font-family:Arial, Helvetica, sans-serif !important;font-size:7pt !important;}
.medium {font-family:Arial, Helvetica, sans-serif !important;font-size:12px !important;font-weight:bold !important;line-height:normal !important;}
.large {font-family:Arial, Helvetica, sans-serif !important;font-size:14px !important;font-weight:bold !important;line-height:normal !important;}
.price {font-family:Arial, Helvetica, sans-serif !important;font-size:14px !important;font-weight:bold !important;line-height:normal !important;margin:0;padding:0;}
.featured-item .listing_year {font-family:Arial, Helvetica, sans-serif;font-size:9pt;}
.featured-item .listing_mileage {font-family:Arial, Helvetica, sans-serif;font-size:9pt;text-align:center;}
.featured-item .listing_price {font-family:Arial, Helvetica, sans-serif;font-size:9pt;text-align:center;font-weight:bold;}
.featured-item .listing_location {font-family:Arial, Helvetica, sans-serif;font-size:10px;}
.featured-item .listing_title {font-family:Arial, Helvetica, sans-serif;font-size:9pt;line-height:normal;}
.featured-item-02  a {font-size:10px;font-family:Arial, Helvetica, sans-serif;}
.featured-item-02 .listing_year {font-family:Arial, Helvetica, sans-serif;font-size:9pt;}
.featured-item-02 .listing_mileage {font-family:Arial, Helvetica, sans-serif;font-size:9pt;text-align:center;}
.featured-item-02 .listing_price {font-family:Arial, Helvetica, sans-serif;font-size:9pt;text-align:center;font-weight:bold;}
.featured-item-02 .listing_location {font-family:Arial, Helvetica, sans-serif;font-size:10px;}
.featured-item-02 .listing_title {font-family:Arial, Helvetica, sans-serif;font-size:9pt;line-height:normal;}
.listing_seperator {height:20px;border-top:1px solid #666;border-bottom:1px solid #f6f6f6;padding-top:5px;padding-bottom:5px;line-height:23px !important;}
.listing_seperator02 {border-top-width:1px;border-top-style:solid;border-top-color:#666666;padding-top:5px;padding-bottom:5px;}
.listing_seperator03 {border-top-width:1px;border-top-style:solid;border-top-color:#666666;padding-bottom:5px;margin-top:5px;}
.listing_seperator03 p {line-height:normal;}
.listing_features {border-top-width:1px;border-top-style:solid;border-top-color:#999999;}
.listing-container .listing_top {height:30px;}
.listing-seperator {margin-top:10px;padding-bottom:10px;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-style:solid;border-top-color:#666666;border-right-color:#666666;border-bottom-color:#666666;border-left-color:#666666;}
#listing-title {font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:normal;font-weight:bold;padding-top:5px;padding-bottom:5px;border-top-width:1px;border-top-style:solid;border-top-color:#999999;}
#center .find-it-by-text-code {height:25px;width:450px;margin-right:auto;margin-left:auto;}
#center .existing-members {height:30px;width:520px;margin-right:auto;margin-left:auto;}
#center #find-it-category {width:420px;margin-right:auto;margin-left:auto;height:80px;margin-top:10px;}
#center #textfield {width:100px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;}
#center #textfield02 {width:60px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;}
#center #textfield_email {width:120px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;}
#center #textfield_textcode {width:50px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;}
#center #listbox_category {font-family:Arial, Helvetica, sans-serif;font-size:9pt;}
#center .find-it {height:70px;padding-top:5px;width:490px;margin-right:auto;margin-left:auto;}
.span-1mb img {margin-top:-2px;}
#left .post-your-ad-free {background-image:url(../images/styles/headers/post-your-ad-free.jpg);height:85px;width:120px;}
.wrapper-find-it-results, .wrapper_600-white, .blue_bottom-line, .wrapper_540, .wrapper_540-02, .wrapper_540-sell, .wrapper_600, .wrapper_600-02 {border-bottom-width:5px;border-bottom-style:solid;border-bottom-color:#67A6D9;}
#center .wrapper_540 {width:540px;background-image:url(../images/styles/backgrounds/content-box-540.jpg);background-repeat:repeat-y;margin-bottom:10px;}
#center .wrapper_540-02 {width:540px;background-image:url(../images/styles/backgrounds/content-box-540.jpg);background-repeat:repeat-y;}
#center .wrapper_540-sell {width:540px;background-image:url(../images/styles/backgrounds/content-box-540.jpg);background-repeat:repeat-y;}
#center .wrapper_600 {width:578px;padding:10px;margin-bottom:10px;background-color:#F6F6F6;border-right-width:1px;border-bottom-width:5px;border-left-width:1px;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-right-color:#999999;border-bottom-color:#67a6d9;border-left-color:#999999;}
#center .wrapper_600-02 {background-image:url(../images/styles/backgrounds/content-box-600.jpg);background-repeat:repeat-y;width:580px;padding:10px;}
#center .wrapper_600-white {width:578px;padding:10px;margin-bottom:10px;background-color:#FFFFFF;border-right-width:1px;border-left-width:1px;border-right-style:solid;border-left-style:solid;border-right-color:#999;border-left-color:#999;border-right-width:1px;border-bottom-width:5px;border-bottom-style:solid;border-bottom-color:#67a6d9;}
.wrapper_600-white  .listing-container {height:400px;}
#center .wrapper-find-it-results {background-image:url(../images/styles/backgrounds/content-box-600.jpg);background-repeat:repeat-y;width:580px;padding:10px;margin-bottom:10px;}
#center td.title {font-family:"Times New Roman", Times, serif;font-size:9pt;width:190px;}
#center .red-check {background-image:url(../images/styles/bullets/red-check-mark.gif);height:20px;width:27px;margin-right:auto;margin-left:auto;}
#choose-package {margin-right:10px;margin-left:10px;width:520px;font-size:9pt;margin-top:8px;}
#choose-package table {margin:0 0 10px 0;}
#choose-package table td {height:30px;}
#choose-package tr.last td {vertical-align:bottom;padding:0;}
#choose-package .package-basic {background-image:url(../images/styles/headers/basic-blue.png);height:35px;width:125px;background-repeat:no-repeat;background-position:center top;}
#choose-package .package-ultimate {background-image:url(../images/styles/headers/ultimate-blue.png);height:35px;width:15px;background-repeat:no-repeat;background-position:center top;}
#choose-package .package-enhanced {background-image:url(../images/styles/headers/enhanced-blue.png);background-repeat:no-repeat;background-position:center top;height:35px;width:125px;}
#choose-package .linefix {border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCCCCC;font-size:9pt;}
#choose-package .middle, .linefix-left, .package-enhanced {border-right-width:1px;border-right-style:solid;border-right-color:#CCCCCC;border-left-width:1px;border-left-style:solid;border-left-color:#CCCCCC;}
#choose-package .bottom, .left, .right, .middle, .title {border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCCCCC;}
#choose-package td.title {padding-right:0px;padding-left:0px;}
#choose-package .package-price {margin-bottom:5px;margin-top:5px;text-align:center;}
.content_spacer {height:10px;}
#container_steps {height:130px;width:536px;padding-top:5px;margin-left:auto;margin-right:auto;}
#container_steps .step-01-image {background-image:url(../images/gui/sell01.jpg);background-repeat:no-repeat;height:83px;width:178px;margin-right:auto;margin-left:auto;}
#container_steps .step-02-image {background-image:url(../images/gui/sell02.jpg);background-repeat:no-repeat;height:83px;width:178px;margin-right:auto;margin-left:auto;}
#container_steps .step-03-image {background-image:url(../images/gui/sell03.jpg);background-repeat:no-repeat;width:178px;height:83px;margin-right:auto;margin-left:auto;}
.left-line {width:120px;height:1px;font-size:1px;background-color:#C3C3C3;margin-top:5px;margin-bottom:8px;}
.info_icon {background-image:url(../images/styles/bullets/icon_info.gif);background-repeat:no-repeat;height:39px;width:19px;float:left;margin-right:10px;margin-left:5px;margin-top:4px;}
.info_icon a {display:block;height:39px;width:19px;text-decoration:none;}
.sell_clear {clear:both;height:20px;}
#sell-points {background-color:#FFFFFF;border:1px solid #CCCCCC;width:460px;height:130px;margin-right:auto;margin-left:auto;padding:5px;padding-top:10px;}
.sell-text {line-height:normal;padding-top:2px;font-family:"Times New Roman", Times, serif;font-size:9pt;text-align:center;width:170px;}
.selltext-01 {width:168px;text-align:center;}
.selltext-02 {width:178px;text-align:center;}
.selltext-03 {width:168px;text-align:center;}
.select-package-text {text-transform:capitalize;text-align:center;font-size:12px;padding-top:8px;padding-bottom:9px;}
.find-it-text {text-transform:capitalize;font-size:12px;padding-bottom:3px;}
.categories {width:500px;margin-right:auto;margin-left:auto;}
.categories tr {height:20px;}
.category-line {border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCCCCC;}
.category-text {height:20px;line-height:normal;}
.categories .text {height:24px;padding-top:7px;}
#center .sharebutton {height:17px;margin-top:1px;}
#bottom .links {text-align:center;font-size:9px;margin-bottom:5px;}
#bottom  .links a {text-align:center;font-size:10px;}
#bottom .agreement {font-family:Arial, Helvetica, sans-serif;font-size:10px;text-align:center;}
.commercial {text-align:center;width:120px;margin-right:auto;margin-left:auto;padding-bottom:10px;}
#will_dikker_value {width:400px;height:427px;background:url(../images/styles/popups/will_dikker_value.png) no-repeat;font-family:Arial, Helvetica, sans-serif;font-size:8pt;}
#will_dikker_value div.top {padding-top:110px;height:70px;}
#will_dikker_value div.bottom {margin-top:20px;height:70px;}
div.header_featured-item-small {background-image:url(../images/styles/headers/header_featured-item.gif);height:20px;width:580px;background-repeat:no-repeat;}
.t-left {text-align:left;}
.t-center {text-align:center;}
#center .wrapper_featured-item {width:558px;margin-right:auto;margin-left:auto;background-color:#FFFFFF;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-right-color:#666666;border-bottom-color:#666666;border-left-color:#666666;padding-right:10px;padding-left:10px;padding-bottom:10px;}
#center .wrapper-item {width:560px;margin-right:auto;margin-left:auto;padding-right:10px;padding-left:10px;padding-bottom:10px;}
.seperator-line {width:580px;margin-top:10px;margin-bottom:10px;border-top-width:1px;border-top-style:solid;border-top-color:#CCCCCC;}
.upper {text-transform:capitalize;}
#popup_sell_it_01 {text-align:center;background:url(../images/styles/popups/sell-it-01.jpg);width:400px;height:349px;}
#popup_sell_it_02 {text-align:center;background:url(../images/styles/popups/sell-it-02.jpg);width:400px;height:349px;}
#popup_sell_it_03 {text-align:center;background:url(../images/styles/popups/sell-it-03.jpg);width:400px;height:349px;}
div.blue-star {width:40px;height:40px;background:url(../images/styles/bullets/star.jpg);margin:10px auto;}
