body,td,th {font-family:Times New Roman, Times, serif;font-size:9pt;color:#000000;}
body {background-image:url(../images/gui/page_bg.jpg);background-repeat:repeat-x;line-height:1.5;background-repeat:repeat-x;}
body a {font-family:Arial, Helvetica, sans-serif;font-size:8pt;color:#3068A7;}
body p {line-height:normal;margin:1px;font-family:"Times New Roman", Times, serif;}
.hidden {display:none;}
#page_cont #top {width:950px;margin-right:auto;margin-left:auto;background-color:#FFFFFF;height:107px;}
#page_cont #nav {width:950px;margin-right:auto;margin-left:auto;height:40px;background-image:url(../images/styles/backgrounds/navigation-background.jpg);}
#page_cont #content {width:935px;margin-right:auto;margin-left:auto;background-image:url(../images/gui/cont_bg-950.jpg);background-repeat:repeat-y;padding-left:15px;}
#page_cont #content {_position:relative;_left:3px;}
#page_cont #footer {background-image:url(../images/gui/cont_footer-950.jpg);background-repeat:no-repeat;height:34px;width:950px;margin-right:auto;margin-left:auto;}
#page_cont #content #left {width:150px;}
#page_cont #content #right {width:150px;}
#page_cont #content #center {width:600px;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}
.container {width:950px;margin:0 auto;}
.column, div.span-1, div.span-1mb, div.span-2, div.span-2m, div.span-3, div.span-3m, div.span-3m2, div.span-4, div.span-4m, div.span-5, div.span-6, div.span-6m, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-11m, div.span-12, div.span-13, div.span-13m, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24, div.span-120, div.span-150, div.span-180, div.span-240, div.span-540, div.span-600, div.span-760 {float:left;margin-right:10px;font-family:"Times New Roman", Times, serif;font-size:9pt;}
div.span-1m, div.span-1_b {float:left;}
.last, div.last {margin-right:0;}
.span-1 {width:30px;}
.span-1_b {width:20px;font-weight:bold;font-size:18px;text-align:center;padding-right:5px;}
.span-1m {width:35px;}
.span-1mb {width:auto;}
.span-2 {width:70px;}
.span-2m {width:90px;}
.span-3 {width:110px;}
.span-3m {width:115px;}
.span-3m2 {width:135px;}
.span-4 {width:150px;}
.span-4m {width:160px;}
.span-5 {width:190px;}
.span-5m {width:178px;float:left;}
.span-6 {width:230px;}
.span-6m {width:265px;font-size:9pt;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-12m {width:440px;height:25px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24 {width:950px;margin:0px;}
.span-120 {width:120px;}
.span-150 {width:150px;}
.span-180 {width:180px;}
.span-240 {width:243px;}
.span-540 {width:540px;}
.span-600 {width:600px;}
.span-760 {width:760px;}
#nav ul {width:930px;margin-right:auto;margin-left:auto;height:31px;background-repeat:repeat-x;background-color:#b0cafd;background-image:url(../images/gui/nav_bg.gif);padding-left:10px;}
#nav ul li {float:left;text-align:center;list-style-type:none;width:115px;display:block;}
#nav ul li a {width:115px;height:31px;display:block;text-decoration:none;color:#000000;line-height:31px;}
#nav ul li a:hover, #nav ul li a.active:link, #nav ul li a.active:visited, #nav ul li a.active:active, #nav ul li a.active:hover {background-image:url(../images/gui/nav_over.gif);background-repeat:repeat-x;background-position:0px 0px;width:115px;height:31px;list-style-type:none;list-style-image:none;text-decoration:none;display:block;}
.arial {font-family:Arial, Helvetica, sans-serif;font-size:8pt;}
